<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Duality.Android" version="0.1.7" targetFramework="MonoAndroid44" />
  <package id="Farseer.Duality.Android" version="0.1.8" targetFramework="MonoAndroid44" />
  <package id="OpenTK.Duality.Android" version="0.1.50" targetFramework="MonoAndroid44" />
</packages>